.countdown.dois {
    position: fixed;
    z-index: 999;
    left: 51%;
    top: 3px;

    display: flex;
      justify-content: center;
      gap: var(--esp-1);
}

.countdown.dois span {
    font-size: var(--fs-400);
    color: var(--cor-titulo);
}

.countdown.dois span {
    font-size: var(--fs-400);
    font-weight: var(--peso-semi);
}

.countdown.dois span.label {
    font-size: var(--corpo-legado-200);
}

@media (min-width: 1080px) {
    .countdown.dois {
        left: 54.5%;
        top: 2.7%;
    }

    .countdown.dois span {
        font-size: var(--corpo-legado-750);
    }

    .countdown.dois span.label {
        font-size: var(--fs-500);
    }
}