@import url("./global.css?v=2398askj9d7ebc");
@import url("./home.css?v=98askj5a34r11bt345");
@import url("./sectionDivisa.css?v=bf5c0aa723");
@import url("./sectionCards.css?v=ae5389b4bd");
@import url("./sectionTopicos.css?v=c45355fe5d");
@import url("./sectionNumeros.css?v=a58e52cd9f");
@import url("./sectionDepoimentos.css?v=5cff9d5365");
@import url("./sectionPlanos.css?v=9fdswefwef324f3");
@import url("./sectionPlanosTematico.css?v=93wefwefbbbsdf6");
@import url("./sectionFaq.css?v=7b393b9a5a");
@import url("./sectionContato.css?v=7e1641a28d");
@import url("./divSuporte.css?v=1d0c3d3827");

@import url("./navigation.css?v=d2ec3a29b7");
@import url("./button.css?v=76583b0d63");
@import url("./head.css?v=cee2cc4f13");
@import url("./buttonWpp.css?v=5a24a478cf");
@import url("./modalDepoimento.css?v=0a43b9b5c6");
@import url("./tarja.css?v=2398askjdbc3b324142c9");
@import url("./tarjaNav.css?v=2398askjk992b18215234dfd1");
@import url("./tarjaImage.css?v=2398askjk9wefwef3fd55");
@import url("./popup.css?v=90fc130038");

@import url("./author.css?v=d96969b33a");
@import url("./footer.css?v=7ae30d6671");
@import url("./footerPagamento.css?v=5ab56509d0");
@import url("./coutdownDois.css?v=49473a480c");

@import url("./obrigado.css?v=efwef34fwefb0");
@import url("./verificado.css?v=6882f1e050");


