.tarja img.mobile {
    width: 100%;
}

.tarja img.desktop {
    display: none;
    width: 100%;
}

.tarjaTimer {
    background: #fff;
    width: 100%;
}

.tarjaTimer p {
    font-size: var(--fs-400);
    padding-block: 1rem;
}

.tarjaTimer p span {
    font-weight: var(--peso-semi);
}

.tarjaTimer .countdown {
      display: flex;
      justify-content: center;
      gap: var(--esp-5);
      font-size: var(--fs-1300);
}

.tarjaTimer .countdown div {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.tarjaTimer .label {
      font-size: var(--corpo-legado-550);
      margin-top: -7px;
}

@media (min-width: 1080px) {
    div.tarja img.mobile {
        display: none;
    }
    
    div.tarja img.desktop {
        display: inherit;
    }

    div.tarjaTimer {
        padding-block: 1rem;
    }

    div.tarjaTimer .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    div.tarjaTimer .countdown {
        margin-inline: 3rem;
    }
}