.tarjaImage img {
    width: 100%;
}

.tarjaImage img.desktop {
    display: none;
}

#home.activeTarjaImage {
  padding-top: 15.2rem;
}

#home.activeTarjaImage .image img.mobile {
    top: 18%;
}

#navigation.activeTarjaImage {
    top: 11rem;
}

.countdown--promo {
      display: flex;
      justify-content: center;
      gap: 20px;
      font-size: 1.7rem;
      font-weight: 700;

      background: #000;
      padding-block: .8rem;
}

.countdown--promo div {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
}

.countdown--promo .label {
      font-size: .6rem;
      margin-top: -5px;
      font-weight: 400;
}

@media (min-width: 1080px) {
    nav#navigation.activeTarjaImage {
        top: 12rem;
        border-radius: 0 0 2rem 2rem;
    }

    div.tarjaImage {
        width: calc(100% - 200px);
        left: 100px;
        top: 2rem;
    }

    div.tarjaImage img {
        border-radius: 2rem 2rem 0 0;
    }

    div.tarjaImage img.mobile {
        display: none;
        
    }

    div.tarjaImage img.desktop {
        display: inherit;
    }
}

@media (min-width: 1700px) {
      div.tarjaImage {
        width: calc(100% - 340px);
        left: 170px;
        top: 2rem;
      } 

      nav#navigation.activeTarjaImage {
        top: 14rem;
        border-radius: 0 0 2rem 2rem;
    }
}

@media (min-width: 2500px) {
    nav#navigation.activeTarjaImage {
        top: 15rem;
    }
}